<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.footsalhaja.mapper.member.MemberMapper">
	<!-- 중복검사 -->
	<select id="selectByUserId" resultType="com.footsalhaja.domain.member.MemberDto">
		SELECT * FROM member WHERE userId = #{userId}
	</select>
	
	<select id="selectByEmail" resultType="com.footsalhaja.domain.member.MemberDto">
		SELECT * FROM member WHERE email  = #{email}
	</select>
	
	<select id="selectByNickName" resultType="com.footsalhaja.domain.member.MemberDto">
		SELECT * FROM member WHERE nickName = #{nickName}
	</select>
	
	
	<!-- 회원정보 저장 -->
	<insert id="insertMember">
		INSERT INTO member 
			(  userId,   name,    password,    nickName,    email,    birthYY,    birthMM,    birthDD,    activityArea,    phone,     personalGender  )
		VALUES
			(#{userId}, #{name}, #{password}, #{nickName}, #{email}, #{birthYY}, #{birthMM}, #{birthDD}, #{activityArea}, #{phone},  #{personalGender} )
	</insert>
 	
 	<update id="updateMemberAuth">
 		<foreach item="newAuth" collection="newAuthorities">
 	
 		UPDATE member SET
 		auth = #{newAuth}
 		WHERE userId = #{userId}
 		</foreach>
 	</update>
 	
 	<update id="updateMemberInfoByUserId">
 		UPDATE member
 		SET 	 		
	 		password = #{password},
	 		nickName = #{nickName},
	 		email = #{email},
	 		phone = #{phone},
	 		auth = #{auth}
	 	WHERE
	 		userId = #{userId}	 			 		
 	</update>
 	<select id="selectAllMemberCount" resultType="int">
	 	SELECT COUNT(*)
	 	FROM member
	 	WHERE
		<trim prefixOverrides="OR">
			<if test="type == 'all' or type == 'userId'">
 			OR userId LIKE #{keyword}
			</if>
			<if test="type == 'all' or type == 'name'">
 			OR name LIKE #{keyword}
			</if>
		</trim>
 	</select>
 	
 	<!-- 모든 회원정보 List로 가져오기 , 페이지네이션 & 검색 기능 추가 -->
 	<select id="selectMemberList" resultMap="memberListMap">
 	SELECT 
 		userId,
 		name,
 		password,
 		nickName,
 		email,
 		birthYY,
 		birthMM,
 		birthDD,
 		activityArea,
 		phone,
 		personalGender,
 		auth
 	FROM
 		member
 	WHERE
 		<trim prefixOverrides="OR">
 			<if test="type == 'all' or type == 'userId'">
 			OR userId LIKE #{keyword}
 			</if>
 			<if test="type == 'all' or type == 'name'">
 			OR name LIKE #{keyword}
 			</if>
 		</trim>
 	ORDER BY name
 	LIMIT #{offset}, #{records}
 	</select>
 	<resultMap type="com.footsalhaja.domain.member.MemberDto" id="memberListMap">
 		<id column="userId" property="userId" />
 		<result column="name" property="name" />
 		<result column="password" property="password" />
 		<result column="nickName" property="nickName" />
 		<result column="email" property="email" />
 		<result column="birthYY" property="birthYY" />
 		<result column="birthMM" property="birthMM" />
 		<result column="birthDD" property="birthDD" />
 		<result column="activityArea" property="activityArea" />
 		<result column="phone" property="phone" />
 		<result column="personalGender" property="personalGender" />
 		<collection ofType="string" property="auth">
 			<result column="auth" property="auth"/>
 		</collection>
 	</resultMap>
 	
 	<!-- userId 로 하나의 회원정보 가져오기 -->
 	<select id="selectMemberInfoByUserId" resultMap="memberMap">
	SELECT 
		m.userId,
		m.name,
		m.password,
		m.nickName,
		m.email,
		m.birthYY,
		m.birthMM,
		m.birthDD,
		m.activityArea,
		m.phone,
		m.personalGender,
		m.auth,
		p.profileImage_file profileImg
	FROM
		member m LEFT JOIN profileImage p ON m.userId = p.member_userId
	WHERE
		userId = #{userId}
	</select>
	<resultMap type="com.footsalhaja.domain.member.MemberDto" id="memberMap">
 		<id column="userId" property="userId" />
 		<result column="name" property="name" />
 		<result column="password" property="password" />
 		<result column="nickName" property="nickName" />
 		<result column="email" property="email" />
 		<result column="birthYY" property="birthYY" />
 		<result column="birthMM" property="birthMM" />
 		<result column="birthDD" property="birthDD" />
 		<result column="activityArea" property="activityArea" />
 		<result column="phone" property="phone" />
 		<result column="personalGender" property="personalGender" />
 		<result column="profileImg" property="profileImg" />
 		<collection ofType="string" property="auth">
 			<result column="auth" property="auth"/>
 		</collection>
 	</resultMap>
 	
 	<!-- 회원탈퇴 (게시물 지우기) -->
 	<delete id="deleteMemberDocumentsByUserId">
	 	DELETE a, f, b, l
	 	FROM member m LEFT JOIN academyBoard a ON m.userId = a.member_userId
		 				LEFT JOIN freeBoard f ON m.userId = f.member_userId
		 				LEFT JOIN book b ON m.userId = b.member_userId
						LEFT JOIN location l ON b.location_locationId = l.locationId
	 					
	 	WHERE userId = #{userId}
 	</delete>
 	
 	 <!-- 회원탈퇴 (댓글 지우기) -->
 	<delete id="deleteMemberReplysByUserId">
	 	DELETE ar, fr, br
	 	FROM member m LEFT JOIN freeBoardReply fr ON m.userId = fr.member_userId
		 				LEFT JOIN academyBoardReply ar ON m.userId = ar.member_userId
		 				LEFT JOIN bookReply br ON m.userId = br.member_userId
	 					
	 	WHERE userId = #{userId}
 	</delete>
 	
 	<!-- 회원탈퇴 (좋아요 지우기) -->
 	 <delete id="deleteMemberLikesByUserId">
	 	DELETE al, fl
	 	FROM member m LEFT JOIN academyBoardLike al ON m.userId = al.member_userId
	 					LEFT JOIN freeBoardLike fl ON m.userId = fl.member_userId
	 					
	 	WHERE userId = #{userId}
 	</delete>
 	
 	<!-- 회원탈퇴 member ByUserId -->
 	<delete id="deleteMemberInfoByUserId">
	 	DELETE FROM member
	 	WHERE userId = #{userId}
 	</delete>
 	<!-- 회원탈퇴 FK Authority ByUserId -->
 	<delete id="deleteAuthorityByUserId">
 		DELETE FROM authority
	 	WHERE userId = #{userId}
 	</delete>
 	
 	<!-- 내글 보기(아카데미 게시판) -->
 	<select id="getUserAbList" resultMap="userAbMap">
	 	SELECT
		 	m.userId,
			m.nickName,
	        a.ab_number,
	        a.ab_category,
	        a.ab_title,
	        a.ab_insertDatetime,
	        a.ab_viewCount
		FROM member m LEFT JOIN academyBoard a ON m.userId = a.member_userId
	    WHERE m.userId = #{userId}
	    ORDER BY a.ab_number DESC
 		LIMIT #{offset}, #{records}
 	</select>
 	
 	<resultMap type="com.footsalhaja.domain.member.MemberDto" id="userAbMap">
 		<id column="userId" property="userId"></id>
 		<result column="nickName" property="nickName" />
 		<collection property="userAbList" resultMap="userAbList"></collection>
 	</resultMap>
 	
 	<resultMap type="com.footsalhaja.domain.academy.BoardDto" id="userAbList">
 		<result column="ab_number" property="ab_number" />
		<result column="ab_category" property="ab_category"/>
 		<result column="ab_title" property="ab_title"/>
		<result column="ab_insertDatetime" property="ab_insertDatetime"/>
		<result column="ab_viewCount" property="ab_viewCount"/>
 	</resultMap>
 	
 	<select id="countAllAblist" resultType="int">
		SELECT Count(ab_number)
		FROM member m LEFT JOIN academyBoard a ON m.userId = a.member_userId 
		WHERE m.userId = #{userId}
	</select>
 	
 	 <!-- 내글 보기(자유 게시판) -->
 	<select id="getUserFbList" resultMap="userFbMap">
 		SELECT
	 		m.userId,
			m.nickName,
	        f.fb_number,
	        f.fb_category,
	        f.fb_title,
	        f.fb_insertDatetime,
	        f.fb_viewCount
		FROM member m LEFT JOIN freeBoard f ON m.userId = f.member_userId
	    WHERE m.userId = #{userId}
	    ORDER BY f.fb_number DESC
 		LIMIT #{offset}, #{records}
 	</select>
 	
 	<resultMap type="com.footsalhaja.domain.member.MemberDto" id="userFbMap">
 		<id column="userId" property="userId"></id>
 		<result column="nickName" property="nickName" />
 		<collection property="userFbList" resultMap="userFbList"></collection>
 	</resultMap>
 	
 	<resultMap type="com.footsalhaja.domain.free.BoardDto" id="userFbList">
 		<result column="fb_number" property="fb_number" />
		<result column="fb_category" property="fb_category"/>
 		<result column="fb_title" property="fb_title"/>
		<result column="fb_insertDatetime" property="fb_insertDatetime"/>
		<result column="fb_viewCount" property="fb_viewCount"/>
 	</resultMap>
 	
 	<select id="countAllFblist" resultType="int">
		SELECT Count(fb_number)
		FROM member m LEFT JOIN freeBoard f ON m.userId = f.member_userId 
		WHERE m.userId = #{userId}
	</select>
 	
 	<!-- 내글 보기 (메인) -->
 	<select id="getUserMainList" resultMap="userMainMap">
 		SELECT
	 		m.userId,
			m.nickName,
	        b.bookId,
	        b.title,
	        b.matchType,
            b.level,
            b.status,
            b.bookDate,
            b.bookTime,
            b.teamGender,
	        b.location_locationId,
	        l.stadiumName
		FROM member m LEFT JOIN book b ON m.userId = b.member_userId
						LEFT JOIN location l ON b.location_locationId = l.locationId
	    WHERE m.userId = #{userId}
	    ORDER BY b.bookId DESC
 		LIMIT #{offset}, #{records}
 	</select>
 	
 	<resultMap type="com.footsalhaja.domain.member.MemberDto" id="userMainMap">
 		<id column="userId" property="userId"></id>
 		<result column="nickName" property="nickName" />
 		<collection property="userMainList" resultMap="userMainList"></collection>
 	</resultMap>
 	
 	<resultMap type="com.footsalhaja.domain.main.BookDto" id="userMainList">
 		<result column="bookId" property="bookId" />
		<result column="title" property="title"/>
 		<result column="matchType" property="matchType"/>
		<result column="level" property="level"/>
		<result column="status" property="status"/>
		<result column="bookDate" property="bookDate"/>
		<result column="bookTime" property="bookTime"/>
		<result column="teamGender" property="teamGender"/>
		<result column="stadiumName" property="stadiumName"/>
		
 	</resultMap>
 	
 	 <select id="countAllMainlist" resultType="int">
		SELECT Count(bookId)
		FROM member m LEFT JOIN book b ON m.userId = b.member_userId
						LEFT JOIN location l ON b.location_locationId = l.locationId
		WHERE m.userId = #{userId}
	</select>
 
 	<!-- 내가 쓴 댓글보기 (자유게시판)-->
 	<select id="getUserFbReplyList" resultMap="userFbReplyMap">
	 	SELECT 
			m.userId,
		    m.nickName,
		    fr.freeBoard_fb_number,
		    fr.fb_replyContent,
		    fr.fb_insertDatetime
		FROM member m LEFT JOIN freeBoardReply fr ON m.userId = fr.member_userId
		WHERE m.userId = #{userId}
 	</select>
 	
 	 <resultMap type="com.footsalhaja.domain.member.MemberDto" id="userFbReplyMap">
 		<id column="userId" property="userId"></id>
 		<result column="nickName" property="nickName" />
 		<collection property="userFbReplyList" resultMap="userFbReplyList"></collection>
 	</resultMap>
 	
 	<resultMap type="com.footsalhaja.domain.free.FreeReplyDto" id="userFbReplyList">
 		<result column="fb_replyContent" property="fb_replyContent"/>
 		<result column="freeBoard_fb_number" property="freeBoard_fb_number"/>
		<result column="fb_insertDatetime" property="fb_insertDatetime"/>
 	</resultMap>
 	
 	<select id="countFbReplyList" resultType="int">
		SELECT Count(fb_replyNumber)
		FROM member m LEFT JOIN freeBoardReply fr ON m.userId = fr.member_userId
		WHERE m.userId = #{userId}
	</select>

 	<!-- 내가 쓴 댓글보기 (아카데미게시판)-->
 	 <select id="getUserAbReplyList" resultMap="userAbReplyMap">
	 	SELECT 
			m.userId,
		    m.nickName,
		    ar.academyBoard_ab_number,
			ar.ab_replyContent,
		    ar.ab_replyInsertDatetime
		FROM member m LEFT JOIN academyBoardReply ar ON m.userId = ar.member_userId
		WHERE m.userId = #{userId}
 	</select>
 	
 	 <resultMap type="com.footsalhaja.domain.member.MemberDto" id="userAbReplyMap">
 		<id column="userId" property="userId"></id>
 		<result column="nickName" property="nickName" />
 		<collection property="userAbReplyList" resultMap="userAbReplyList"></collection>
 	</resultMap>
 	
 	 <resultMap type="com.footsalhaja.domain.academy.AcademyReplyDto" id="userAbReplyList">
 		<result column="ab_replyContent" property="ab_replyContent"/>
 		<result column="academyBoard_ab_number" property="ab_number"/>
		<result column="ab_replyInsertDatetime" property="ab_replyInsertDatetime"/>
 	</resultMap>
 	
 	 <select id="countAbReplyList" resultType="int">
		SELECT Count(ab_replyNumber)
		FROM member m LEFT JOIN academyBoardReply ar ON m.userId = ar.member_userId
		WHERE m.userId = #{userId}
	</select>
 	
 	<!-- 내가 쓴 댓글보기 (예약) -->
 	 	 <select id="getUserMainReplyList" resultMap="userMainReplyMap">
	 	SELECT 
			m.userId,
		    m.nickName,
		    br.book_bookId,
			br.replyContent,
		    br.insertDatetime
		FROM member m LEFT JOIN bookReply br ON m.userId = br.member_userId
		WHERE m.userId = #{userId}
 	</select>
 	
 	 <resultMap type="com.footsalhaja.domain.member.MemberDto" id="userMainReplyMap">
 		<id column="userId" property="userId"></id>
 		<result column="nickName" property="nickName" />
 		<collection property="userMainReplyList" resultMap="userMainReplyList"></collection>
 	</resultMap>
 	
 	 <resultMap type="com.footsalhaja.domain.main.ReplyDto" id="userMainReplyList">
 		<result column="book_bookId" property="book_bookId"/>
 		<result column="replyContent" property="replyContent"/>
		<result column="insertDatetime" property="insertDatetime"/>
 	</resultMap>
 	
 	 <select id="countMainReplyList" resultType="int">
		SELECT Count(replyId)
		FROM member m LEFT JOIN bookReply br ON m.userId = br.member_userId
		WHERE m.userId = #{userId}
	</select>
 	
 	<!-- 내가 좋아요한 글 목록 -->
 	<select id="getUserAbLikeList" resultMap="userAbLikeMap">
 		SELECT m.userId,
	    	m.nickName,
	    	(SELECT a.ab_number FROM academyBoard a WHERE academyBoard_ab_number = a.ab_number) ab_number,
			(SELECT a.ab_title FROM academyBoard a WHERE academyBoard_ab_number = a.ab_number) ab_title,
		    (SELECT a.ab_insertDatetime FROM academyBoard a WHERE academyBoard_ab_number = a.ab_number) ab_insertDatetime
  		FROM member m LEFT JOIN academyBoardLike al ON m.userId = al.member_userId
   		WHERE m.userId = #{userId};
 	</select>
 	<resultMap type="com.footsalhaja.domain.member.MemberDto" id="userAbLikeMap">
 		<id column="userId" property="userId"></id>
 		<result column="nickName" property="nickName" />
 		<collection property="userAbLikeList" resultMap="userAbLikeInfo"></collection>
 	</resultMap>
 	
 	<resultMap type="com.footsalhaja.domain.academy.BoardDto" id="userAbLikeInfo">
 		<result column="ab_number" property="ab_number"/>
 		<result column="ab_title" property="ab_title"/>
 		<result column="ab_insertDatetime" property="ab_insertDatetime"/>
 	</resultMap>
 	
 	 <select id="countUserAbLike" resultType="int">
		SELECT Count(academyBoard_ab_number)
		FROM member m LEFT JOIN academyBoardLike al ON m.userId = al.member_userId
		WHERE m.userId = #{userId}
	</select>
 	
 	
 	<select id="getUserFbLikeList" resultMap="userFbLikeMap">
 		SELECT m.userId,
	    	m.nickName,
	    	(SELECT f.fb_number FROM freeBoard f WHERE freeBoard_fb_number = f.fb_number) fb_number,
			(SELECT f.fb_title FROM freeBoard f WHERE freeBoard_fb_number = f.fb_number) fb_title,
    		(SELECT f.fb_insertDatetime FROM freeBoard f WHERE freeBoard_fb_number = f.fb_number) fb_insertDatetime
  		FROM member m LEFT JOIN freeBoardLike fl ON m.userId = fl.member_userId
   		WHERE m.userId = #{userId};
 	</select>
 	<resultMap type="com.footsalhaja.domain.member.MemberDto" id="userFbLikeMap">
 		<id column="userId" property="userId"></id>
 		<result column="nickName" property="nickName" />
 		<collection property="userFbLikeList" resultMap="userFbLikeInfo"></collection>
 	</resultMap>
 	
 	<resultMap type="com.footsalhaja.domain.free.BoardDto" id="userFbLikeInfo">
 		<result column="fb_number" property="fb_number"/>
 		<result column="fb_title" property="fb_title"/>
 		<result column="fb_insertDatetime" property="fb_insertDatetime"/>
 	</resultMap>
 	
 	<select id="countUserFbLike" resultType="int">
		SELECT Count(freeBoard_fb_number)
		FROM member m LEFT JOIN freeBoardLike fl ON m.userId = fl.member_userId
		WHERE m.userId = #{userId}
	</select>
	
	<!-- 프로필 이미지 등록 -->
	<insert id="insertprofileImg">
		INSERT INTO profileImage (member_userId, profileImage_file)
		VALUES (#{userId}, #{profileImg})
	</insert>
	
	<!-- 프로필 이미지 삭제 -->
	<delete id="deleteProfileImgByUserId">
		DELETE FROM profileImage
		WHERE member_userId = #{userId}
	</delete>

	<!-- 중복 프로필 이름 덮어씌우기 -->
 	<delete id="deleteProfileImgByUserIdAndPrifileImg">
	DELETE FROM profileImage
	WHERE member_userId = #{userId} AND profileImage_file = #{originalFilename}
	</delete>

 </mapper>