<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.footsalhaja.mapper.academy.AcademyMapper">
 
 
	<!-- register 등록 -->
 	<insert id="insert" useGeneratedKeys="true" keyProperty="ab_number">
	INSERT INTO academyBoard (ab_title, ab_category, ab_content, member_userId)
	VALUES ( #{ab_title}, #{ab_category},  #{ab_content}, #{member_userId})
	
	</insert>
	
	<!-- list 목록 -->
	<select id="list" resultType="com.footsalhaja.domain.academy.BoardDto">
	SELECT *
	FROM academyBoard
	ORDER BY ab_number DESC
	</select>
	
	<!-- get 게시물페이지  -->
	<select id="select" resultMap="boardMap">
	SELECT 
		b.ab_number,
		b.ab_category,
		b.ab_title,
		b.ab_content,
		b.member_userId,
		b.ab_insertDatetime,
		m.nickName,
		f.ab_fileName,
		(SELECT COUNT(*) FROM academyBoardLike WHERE academyBoard_ab_number = b.ab_number AND member_userId = #{member_userId}) liked,
		(SELECT COUNT(*) FROM academyBoardLike WHERE academyBoard_ab_number = b.ab_number) countLike

	FROM academyBoard b LEFT JOIN academyBoardFileAttach f ON b.ab_number = f.academyBoard_ab_number
						LEFT JOIN member m ON b.member_userId = m.userId
	WHERE
		ab_number = #{ab_number}
		
	</select>
	
	<resultMap type="com.footsalhaja.domain.academy.BoardDto" id="boardMap">
		<id column="ab_number" property="ab_number"></id>
		<result column="ab_title" property="ab_title"/>
		<result column="ab_category" property="ab_category"/>
		<result column="member_userId" property="member_userId"/>
		<result column="ab_content" property="ab_content"/>
		<result column="ab_insertDatetime" property="ab_insertDatetime"/>
		<result column="nickName" property="nickName"/>
		<result column="countLike" property="countLike"/>
		<result column="liked" property="liked"/>
		<collection property="ab_fileName" ofType="string">
			<result property="ab_fileName" column="ab_fileName"/>
		</collection>
	</resultMap>
	
	
	<!-- modify 수정페이지 -->
	<update id="modify">
	UPDATE academyBoard
	SET
		ab_title = #{ab_title},
		ab_category = #{ab_category},
		ab_content = #{ab_content}
	WHERE
		ab_number = #{ab_number}
	
	</update>
	
	<!-- remove 삭제  -->
	<delete id="remove">
	DELETE FROM academyBoard
	WHERE ab_number = #{ab_number}
	</delete>
	
	<!-- 검색 조건 -->
	<sql id="criteria">
	AND 
		<trim prefix="(" suffix=")" prefixOverrides="OR">
			<foreach item='type' collection="cri.typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()"> 
							b.ab_title LIKE #{cri.keyword}
						</when>
						<when test="type == 'C'.toString()">
							b.ab_content LIKE #{cri.keyword}
						</when>
						<when test="type == 'W'.toString()">
							b.member_userId LIKE #{cri.keyword}
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 페이지네이션 & 검색  & 카테고리 필터링-->
	<select id="getListWithPaging" resultType="com.footsalhaja.domain.academy.BoardDto">
	SELECT 		
		b.ab_number,
		b.ab_category,
		b.ab_title,
		b.ab_content,
		b.member_userId,
		b.ab_insertDatetime,
		COUNT(DISTINCT r.ab_replyNumber) replyCnt,
		COUNT(DISTINCT l.member_userId) countLike,
		COUNT(DISTINCT f.academyBoard_ab_number) countFile,
		b.ab_viewCount,
		m.nickName
		
	FROM academyBoard b LEFT JOIN academyBoardReply r ON b.ab_number = r.academyBoard_ab_number
						LEFT JOIN academyBoardLike l ON b.ab_number = l.academyBoard_ab_number
						LEFT JOIN academyBoardFileAttach f ON b.ab_number = f.academyBoard_ab_number
						LEFT JOIN member m ON b.member_userId = m.userId
	
	WHERE 1=1
	<!-- 검색조건 -->
	 <if test="cri.type!=null and cri.type!=''">
		<include refid="criteria"></include>
	</if>
	<!-- 카테고리 필터링 -->
	<if test ="category !=null and category != ''">
		AND b.ab_category = #{category}
	</if>
	
	GROUP BY b.ab_number
	ORDER BY b.ab_number DESC
	LIMIT #{offset}, #{records}
	
	</select>
	
	
	<!-- 전체 데이터 수 -->
	
	<select id="getTotalCount" resultType="int">

		SELECT Count(*)
		FROM academyBoard b
	
		<!-- 검색조건 호출  -->
		WHERE 1=1
	<if test="cri.type!=null and cri.type!=''">
	<![CDATA[	
		]]> 
		<include refid="criteria"></include>
	</if>

	</select>
	
	<!-- 좋아요 숫자 가져오기 -->
	<select id="getLike" resultType="int">
		SELECT COUNT(*) FROM academyBoardLike
		WHERE academyBoard_ab_number = #{ab_number} AND member_userId = #{member_userId}
	</select>
	
	<!-- 좋아요 취소 -->
	<delete id="deleteLike">
		DELETE FROM academyBoardLike
		WHERE academyBoard_ab_number = #{ab_number} AND member_userId = #{member_userId}
	</delete>
	
	<!-- 좋아요 추가 -->
	<insert id="insertLike">
		INSERT INTO academyBoardLike (academyBoard_ab_number, member_userId) 
		VALUES (#{ab_number}, #{member_userId})
	</insert>
	
	<!-- 게시물 당 좋아요 갯수 -->
	<select id="countLikeByab_number" resultType="int">
		SELECT COUNT(*) FROM academyBoardLike
		WHERE academyBoard_ab_number = #{ab_number}
	</select>
	
	<!-- 게시글 삭제 전 좋아요 삭제 -->
		<delete id="deleteLikeByBoardId">
		DELETE FROM academyBoardLike
		WHERE academyBoard_ab_number = #{ab_number}
	</delete>
	
	<!-- 조회수 -->
	<update id="updateViewCount">
		UPDATE academyBoard
		SET ab_viewCount = ab_viewCount + 1
		WHERE ab_number = #{ab_number}
	</update>
	
	<!-- 파일 첨부 -->
	<insert id="insertFile">
		INSERT INTO academyBoardFileAttach (academyBoard_ab_number, ab_fileName, ab_filePath, ab_fileType)
		VALUES (#{ab_number}, #{ab_fileName}, #{ab_filePath}, #{ab_fileType})
	</insert>
	
	<!-- 게시글 삭제전 파일 삭제 -->
	<delete id="deleteFileByBoardId">
		DELETE FROM academyBoardFileAttach
		WHERE academyBoard_ab_number = #{ab_number}
	</delete>
	
	<!-- 파일 수정에 따른 중복파일 삭제 -->
	<delete id="deleteByBoardIdAndFileName">
		DELETE FROM academyBoardFileAttach
		WHERE academyBoard_ab_number = #{ab_number} AND ab_fileName = #{originalFilename}
	</delete>
	
 
 </mapper>
  