<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.footsalhaja.mapper.academy.AcademyReplyMapper">
 
 <!-- 게시글 별 댓글리스트 -->
<!--  	<select id="selectReplyByBoardId" resultType="com.footsalhaja.domain.academy.AcademyReplyDto">
	SELECT 
		r.ab_replyNumber,
		r.ab_replyContent,
		r.academyBoard_ab_number as ab_number,
		r.member_userId,
		(r.member_userId = #{username}) editable,
		r.ab_replyInsertDatetime,
		m.nickName
		
	FROM
		academyBoardReply r LEFT JOIN member m ON r.member_userId = m.userId
	WHERE
		academyBoard_ab_number = #{ab_number}
	ORDER BY
		academyBoard_ab_number DESC
	</select> -->

<!-- 댓글 입력 -->
	<insert id="insert">
	INSERT INTO academyBoardReply (academyBoard_ab_number, ab_replyContent, member_userId)
	VALUES (#{ab_number}, #{ab_replyContent}, #{member_userId})
	</insert>
	
<!-- 댓글 삭제 -->
	<delete id="deleteById">
		DELETE FROM academyBoardReply
		WHERE ab_replyNumber = #{ab_replyNumber}
	</delete>

<!-- 게시글 삭제에 따른 댓글 삭제 -->
	<delete id = "deleteByBoardId">
		DELETE FROM academyBoardReply
		WHERE academyBoard_ab_number = #{ab_number}
	</delete>
	
<!-- 댓글 get-->
	<select id="selectById" resultType="com.footsalhaja.domain.academy.AcademyReplyDto">
	SELECT
		*
	FROM
		academyBoardReply
	WHERE
		ab_replyNumber = #{ab_replyNumber}
		
	</select>
	
<!-- 댓글 수정 -->
	<update id="modify">
	UPDATE academyBoardReply
	SET
		ab_replyContent = #{ab_replyContent}
	WHERE 
		ab_replyNumber = #{ab_replyNumber}
	</update>
	
	<!-- 페이지네이션-->
	<select id="getReplyListWithPaging" resultType="com.footsalhaja.domain.academy.AcademyReplyDto">
	
	SELECT r.ab_replyNumber,
		r.ab_replyContent,
		r.academyBoard_ab_number as ab_number,
		r.member_userId,
		(r.member_userId = #{username}) editable,
		r.ab_replyInsertDatetime,
		m.nickName
		
	FROM academyBoardReply r LEFT JOIN member m ON r.member_userId = m.userId
	WHERE academyBoard_ab_number = #{ab_number}
	LIMIT #{offset}, #{records}
	
	</select>
	
	
	<!-- 댓글 수 -->
	
	<select id="getTotalReplyCount" resultType="int">
		SELECT Count(*)
		FROM academyBoardReply
		WHERE academyBoard_ab_number= #{ab_number}
	</select>		
</mapper>