<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.footsalhaja.mapper.qna.QnAMapper">
	
	<!-- Create QnABoard -->	 
	 <insert id="insertQnABoard"  useGeneratedKeys="true" keyProperty="qnaId">
		 INSERT INTO QnABoard 
		 		(  category,   title,    content , member_userId )
		 VALUES 
		 		(#{category}, #{title}, #{content}, #{userId}  );
	 </insert>
	 
	 <insert id="insertQnAFiles">
	 	INSERT INTO QnAFiles (qnaId, fileName)
	 	VALUES(#{qnaId}, #{fileName})
	 </insert>
	 
	 <update id="updateMyQnABoard">
	 	UPDATE QnABoard SET
	 		title = #{title},
	 		content = #{content}		
	 	WHERE
	 		qnaId = #{qnaId}
	 </update>
	 
	 <select id="myQnAList" resultType="com.footsalhaja.domain.qna.QnADto">
	 	SELECT 
	 		q.qnaId,
	 		q.category,
	 		q.title,
	 		q.content,
	 		q.status,
	 		m.userId,
	 		m.nickName,
	 		COUNT(DISTINCT l.qnaLikeId) AS likeCount,
	 		COUNT(DISTINCT r.qnaReplyToAnswerId) AS replyCount,
	 		COUNT(DISTINCT f.fileName) AS fileCount
	
	 	FROM 
	 	 	QnABoard q
	 	LEFT JOIN member m ON q.member_userId = m.userId 	
	 	LEFT JOIN QnABoardLike l ON q.qnaId = l.qnaId
	 	LEFT JOIN QnAReplyToAnswer r ON q.qnaId = r.qnaId
	 	LEFT JOIN QnAFiles f ON q.qnaId = f.qnaId
	 	WHERE
	 		m.userId = #{userId}
	 	AND	
	 	<if test="c != ''">
	 		q.category = #{category}
	 	AND
	 	</if>	
	 	(	
	 	<trim prefixOverrides="OR">
		 	<if test="type == 'all' or type == 'title'">
		 	OR q.title LIKE #{keyword}
		 	</if>
		 	<if test="type == 'all' or type == 'content'">
		 	OR q.content LIKE #{keyword}
		 	</if>
		 	<if test="type == 'all' or type == 'userId'">
		 	OR m.userId LIKE #{keyword}
		 	</if>
	 	</trim>	
	 	)
	 	GROUP BY q.qnaId
	 	ORDER BY 
	 		q.qnaId DESC 
	 	LIMIT
	 		#{offset}, #{records}
	 </select>
	 
	 <select id="selectQnAListByStatusDone" resultType="com.footsalhaja.domain.qna.QnADto">
	 	SELECT 
	 		q.qnaId,
	 		q.category,
	 		q.title,
	 		q.content,
	 		q.status,
	 		q.member_userId AS userId,
	 		q.insertDatetime,
	 		COUNT(distinct l.qnaLikeId) AS likeCount,
	 		COUNT(DISTINCT r.qnaReplyToAnswerId) AS replyCount,
	 		COUNT(DISTINCT f.fileName) AS fileCount
	 	FROM QnABoard q
	 	LEFT JOIN QnABoardLike l ON q.qnaId = l.qnaId
	 	LEFT JOIN QnAReplyToAnswer r ON q.qnaId = r.qnaId
	 	LEFT JOIN QnAFiles f ON q.qnaId = f.qnaId
	 	WHERE
	 		q.status = #{status} 
	 	AND	
 	 	<if test="c != ''">
 			q.category = #{category} 
 		AND 
 		</if>
 		(
		<trim prefixOverrides="OR">
			<if test="type == 'all' or type == 'title'">
			OR q.title LIKE #{keyword}
			</if>
			
			<if test="type == 'all' or type == 'content'">
			OR q.content LIKE #{keyword}
			</if>
			
			<if test="type == 'all' or type == 'userId'">
			OR q.member_userId LIKE #{keyword}
			</if>
		</trim> 
		)
		GROUP BY q.qnaId
	 	ORDER BY q.qnaId DESC
	 	LIMIT #{offset}, #{records}
	 </select>
	 
	 <select id="countAllQnAByUserId" resultType="int">
	 	SELECT 
	 		COUNT(q.qnaId)
	 	FROM 
	 	 	QnABoard q
	 	LEFT JOIN member m ON q.member_userId = m.userId 	
	 	WHERE
	 		m.userId = #{userId}
	 	AND	
	 	<if test="c != ''">
	 		q.category = #{category}
	 	AND
	 	</if>	
	 	(	
	 	<trim prefixOverrides="OR">
		 	<if test="type == 'all' or type == 'title'">
		 	OR q.title LIKE #{keyword}
		 	</if>
		 	<if test="type == 'all' or type == 'content'">
		 	OR q.content LIKE #{keyword}
		 	</if>
		 	<if test="type == 'all' or type == 'userId'">
		 	OR m.userId LIKE #{keyword}
		 	</if>
	 	</trim>	
	 	)	
	 </select>
	 
	<select id="selectMyQnAListByUserId" resultType="com.footsalhaja.domain.qna.QnADto">
	 	SELECT 
	 		q.qnaId,
	 		q.category,
	 		q.title,
	 		q.content,q.
	 		q.status,
	 		m.userId AS member_userId,
	 		m.nickName AS member_nickName
	 	FROM 
	 	 	QnABoard q
	 	LEFT JOIN QnABoardLike l ON q.qnaId = l.qnaId
	 	LEFT JOIN member m ON q.member_userId = m.userId
	 	WHERE 
	 		m.userId = #{userId} 
	 	ORDER BY 
	 		q.qnaId DESC 
	</select>

	<select id="selectMyQnAGetByQnAIdAndUserId" resultMap="myGetMap">
		SELECT 
	 		q.qnaId,
	 		q.category,
	 		q.title,
	 		q.content,
	 		q.status,
	 		q.insertDatetime,
	 		m.userId,
	 		a.qnaReplyId,
	 		COUNT(DISTINCT l.qnaLikeId) AS likeCount,
			f.fileName
	 	FROM 
	 	 	QnABoard q
		 	LEFT JOIN member m   ON q.member_userId = m.userId
		 	LEFT JOIN QnAReply a ON q.qnaId = a.qnaId
		 	LEFT JOIN QnABoardLike l ON q.qnaId = l.qnaId
		 	LEFT JOIN QnAFiles f ON q.qnaId = f.qnaId
	 	WHERE 
	 		m.userId = #{userId} AND q.qnaId = #{qnaId}
	</select>	
	<resultMap type="com.footsalhaja.domain.qna.QnADto" id="myGetMap">
		<id column="qnaId" property="qnaId"/>
		<result column="category" property="category"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="status" property="status"/>
		<result column="insertDatetime" property="insertDatetime"/>
		<result column="userId" property="userId"/>
		<result column="qnaReplyId" property="qnaReplyId"/>
		<result column="likeCount" property="likeCount"/>
		<collection property="fileName" ofType="string">
			<result column="fileName" property="fileName"/>
		</collection>
	</resultMap>	
	
		<select id="selectQnAByQnaId" resultMap="myGetMap2">
		SELECT 
	 		q.qnaId,
	 		q.category,
	 		q.title,
	 		q.content,
	 		q.status,
	 		q.insertDatetime,
	 		m.userId,
	 		a.qnaReplyId,
	 		COUNT(DISTINCT l.qnaLikeId) AS likeCount,
			f.fileName
	 	FROM 
	 	 	QnABoard q
		 	LEFT JOIN member m   ON q.member_userId = m.userId
		 	LEFT JOIN QnAReply a ON q.qnaId = a.qnaId
		 	LEFT JOIN QnABoardLike l ON q.qnaId = l.qnaId
		 	LEFT JOIN QnAFiles f ON q.qnaId = f.qnaId
	 	WHERE 
	 		q.qnaId = #{qnaId}
	</select>	
	<resultMap type="com.footsalhaja.domain.qna.QnADto" id="myGetMap2">
		<id column="qnaId" property="qnaId"/>
		<result column="category" property="category"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="status" property="status"/>
		<result column="insertDatetime" property="insertDatetime"/>
		<result column="userId" property="userId"/>
		<result column="qnaReplyId" property="qnaReplyId"/>
		<result column="likeCount" property="likeCount"/>
		<collection property="fileName" ofType="string">
			<result column="fileName" property="fileName"/>
		</collection>
	</resultMap>	
	
	<select id="selectFAQList" resultType="com.footsalhaja.domain.qna.FAQDto">
		SELECT 
			faqId,
			title,
			content
		FROM
			FAQ	
	</select>
	
	<select id="selectAllQnAList" resultType="com.footsalhaja.domain.qna.QnADto">
		SELECT 
	 		q.qnaId,
	 		q.category,
	 		q.title,
	 		q.content,
	 		q.status,
	 		q.member_userId AS userId,
	 		q.insertDatetime,
	 		COUNT(DISTINCT l.qnaLikeId) AS likeCount,
	 		COUNT(DISTINCT r.qnaReplyToAnswerId) AS replyCount,
	 		COUNT(DISTINCT f.fileName) AS fileCount
	 	FROM 
	 	 	QnABoard q
	 	LEFT JOIN QnABoardLike l ON q.qnaId = l.qnaId 
	 	LEFT JOIN QnAReplyToAnswer r ON q.qnaId = r.qnaId 
	 	LEFT JOIN QnAFiles f ON q.qnaId = f.qnaId 
	 	
	 	WHERE
	 	<if test="c != ''">
	 		q.category = #{category}
	 	AND
	 	</if>
	 	<if test="s != ''">
	 		q.status = #{status}
	 	AND
	 	</if>
	 	(
		<trim prefixOverrides="OR">
			<if test="type == 'all' or type == 'title'">
			OR q.title LIKE #{keyword}
			</if>
			
			<if test="type == 'all' or type == 'content'">
			OR q.content LIKE #{keyword}
			</if>
			
			<if test="type == 'all' or type == 'userId'">
			OR q.member_userId LIKE #{keyword}
			</if>
		</trim>
		)
		Group By q.qnaId
	 	ORDER BY q.qnaId DESC
	 	LIMIT #{offset}, #{records}
	</select>
	
	<select id="countAllQnA" resultType="int">
		SELECT 
	 		COUNT(qnaId)
	 	FROM 
	 	 	QnABoard 
	 	WHERE
	 
	 	<if test="c != ''">
	 		category = #{category}
	 	AND
	 	</if>
	 	<if test="s != ''">
	 		status = #{status}
	 	AND
	 	</if>
	 	(
		<trim prefixOverrides="OR">
			<if test="type == 'all' or type == 'title'">
			OR title LIKE #{keyword}
			</if>
			
			<if test="type == 'all' or type == 'content'">
			OR content LIKE #{keyword}
			</if>
			
			<if test="type == 'all' or type == 'userId'">
			OR member_userId LIKE #{keyword}
			</if>
		</trim> 
		)
	 		
	</select>
	
		<select id="countAllQnAByDone" resultType="int">
		SELECT 
	 		COUNT(qnaId)
	 	FROM 
	 	 	QnABoard 
	 	WHERE
	 		status = #{status}
	 	AND 	
	 	<if test="c != ''">
 			category = #{category} 
 		AND 
 		</if>
 		(
		<trim prefixOverrides="OR">
			<if test="type == 'all' or type == 'title'">
			OR title LIKE #{keyword}
			</if>
			
			<if test="type == 'all' or type == 'content'">
			OR content LIKE #{keyword}
			</if>
			
			<if test="type == 'all' or type == 'userId'">
			OR member_userId LIKE #{keyword}
			</if>
		</trim> 	
		)
		
	</select>
<!-- ###################################################################### -->
	<!-- 좋아요 기능추가  -->
	<select id="selectQnABoardLikeCount" resultType="int">
		SELECT 
			COUNT(qnaLikeId) likeCount
		FROM 
			QnABoardLike
		WHERE 
			qnaId = #{qnaId} AND userId = #{loggedinId}
	</select>
	<select id="countAllLikeByQnAId" resultType="int">
		SELECT 
			COUNT(qnaLikeId) likeCount
		FROM 
			QnABoardLike
		WHERE 
			qnaId = #{qnaId}
	</select>
	<insert id="insertQnABoardLikeCount">
		INSERT INTO QnABoardLike (qnaId, userId)
		VALUES (#{qnaId}, #{loggedinId})
	</insert>
	<delete id="deleteQnABoardLikeCount">
		DELETE FROM QnABoardLike
		WHERE qnaId = #{qnaId} AND userId = #{loggedinId}
	</delete>
<!-- ###################################################################### -->
	<insert id="insertQnAReply">
		<!-- //qnaReplyId,qnaId,userId,writer,content,insertDatetime -->
		INSERT INTO QnAReply (qnaId, userId, writer, content)
		VALUES( #{qnaId}, #{userId}, #{writer}, #{content} )
	</insert>
	
	<update id="updateAnswerByAnswerId">
		UPDATE QnAReply SET
		content = #{content}
		WHERE qnaReplyId = #{answerId}
	</update>
	
	<update id="updateReplyById">
		UPDATE QnAReplyToAnswer SET
		content = #{content}
		WHERE qnaReplyToAnswerId = #{qnaReplyToAnswerId}
	</update>
	<select id="selectQnAReply" resultType="com.footsalhaja.domain.qna.QnAReplyDto">
		<!-- //qnaReplyId,qnaId,userId,writer,content,insertDatetime -->
		SELECT 
			qnaReplyId,
			qnaId,
			userId,
			writer,
			content,
			insertDatetime
		FROM 
			QnAReply
		WHERE 
			qnaId = #{qnaId}
	</select>
	
	<insert id="insertQnAReplyToAnswer">
		<!-- //qnaReplyToAnswerId, qnaReplyId, qnaId,  content, userId, insertDatetime -->
		INSERT INTO QnAReplyToAnswer (qnaReplyId, qnaId, content, userId)
		VALUES( #{qnaReplyId}, #{qnaId}, #{content}, #{userId} )
	</insert>
	
	<select id="selectReplyList" resultType="com.footsalhaja.domain.qna.QnAReplyToAnswerDto">
		SELECT 
			qnaReplyToAnswerId,
			qnaReplyId,
			qnaId,
			userId,
			(userId = #{userId}) editable,
			content,
			insertDatetime
		FROM 
			QnAReplyToAnswer
		WHERE 
			qnaReplyId = #{answerId}
	</select>
	
	<select id="selectQnAReplyById" resultType="com.footsalhaja.domain.qna.QnAReplyToAnswerDto">
		SELECT 
			qnaReplyToAnswerId,
			qnaReplyId,
			qnaId,
			userId,
			content,
			insertDatetime
		FROM 
			QnAReplyToAnswer
		WHERE 
			qnaReplyToAnswerId = #{replyId}
	</select>
	
	<select id="selectQnAReplyToAnswerList" resultType="com.footsalhaja.domain.qna.QnAReplyToAnswerDto">
		<!-- //qnaReplyToAnswerId, qnaReplyId, qnaId, content, userId, insertDatetime -->
		SELECT 
			qnaReplyToAnswerId,
			qnaReplyId,
			qnaId,
			userId,
			content,
			insertDatetime
		FROM 
			QnAReplyToAnswer
		WHERE 
			qnaReplyId = #{qnaReplyId}
	</select>

	<update id="updateQnAStatus">
		UPDATE QnABoard SET
			status = #{status}
		WHERE qnaId = #{qnaId} 	
	</update>
	
	<delete id="deleteAnswerByAnswerId">
		DELETE FROM QnAReply
		WHERE qnaReplyId = #{qnaReplyId}
	</delete>
	
	<delete id="deleteQnAReplyByReplyId">
		DELETE FROM QnAReplyToAnswer
		WHERE qnaReplyToAnswerId = #{qnaReplyToAnswerId}
	</delete>
	<delete id="deleteQnAReplyByAnswerId">
		DELETE FROM QnAReplyToAnswer
		WHERE qnaReplyId = #{qnaAnswerId}
	</delete>
	<delete id="deleteAllQnAReplyById">
		DELETE FROM QnAReplyToAnswer
		WHERE qnaId = #{qnaId}
	</delete>
	<delete id="deleteAnswerBYqnaId">
		DELETE FROM QnAReply
		WHERE qnaId = #{qnaId}
	</delete>
	<delete id="deleteQnA">
		DELETE FROM QnABoard
		WHERE qnaId = #{qnaId}
	</delete>
	<delete id="deleteLikesByqnaId">
		DELETE FROM QnABoardLike
		WHERE qnaId = #{qnaId}
	</delete>
	<delete id="deleteQnAFileByQnAIdAndFileName">
		DELETE FROM QnAFiles
		WHERE qnaId = #{qnaId} AND fileName = #{fileName}
	</delete>
	

	
	
 </mapper>