<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.footsalhaja.mapper.qna.QnAMapper">
 
<!-- Create QnABoard -->	 
 <insert id="insertQnABoard" >
 INSERT INTO QnABoard (  category,   title,    content,    userId,    insertDatetime,    status )
 				VALUES(#{category}, #{title}, #{content}, #{userId}, #{insertDatetime}, #{status} );
 
 </insert>
 </mapper>