<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.footsalhaja.mapper.qna.QnAMapper">

	<!-- Create QnABoard -->	 
	 <insert id="insertQnABoard" >
		 INSERT INTO QnABoard 
		 		(  category,   title,    content , member_userId, member_nickName )
		 VALUES 
		 		(#{category}, #{title}, #{content}, #{userId}, #{nickName}  );
	 </insert>
	 
	 <select id="myQnAList" resultType="com.footsalhaja.domain.qna.QnADto">
	 	SELECT 
	 		q.qnaId,
	 		q.category,
	 		q.title,
	 		q.content,
	 		q.status,
	 		m.userId,
	 		m.nickName
	 	FROM 
	 	 	QnABoard q
	 	LEFT JOIN member m 
	 	ON q.member_userId = m.userId 	
	 	WHERE
	 		m.userId = #{userId} 	
	 	ORDER BY 
	 		qnaId DESC 	 
	 
	 </select>
	 
	 
	 <select id="selectMyQnAListByUserId" resultType="com.footsalhaja.domain.qna.QnADto">
	 	SELECT 
	 		qnaId, category, title, content, status, member_userId, member_nickName
	 	FROM 
	 	 	QnABoard
	 	WHERE 
	 		member_userId = #{userId} 
	 	ORDER BY 
	 		qnaId DESC 
	 </select>
	
	<select id="selectFAQList" resultType="com.footsalhaja.domain.qna.FAQDto">
		SELECT 
			faqId,
			title,
			content
		FROM
			FAQ	
	</select>
	 


 </mapper>