<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.footsalhaja.mapper.free.FreeMapper">
 
 	<!-- 글 입력 -->
 	<insert id="insert" >
 	INSERT INTO freeBoard (fb_category, fb_title, fb_content, member_userId)
 	VALUES (#{fb_category}, #{fb_title}, #{fb_content}, #{member_userId})
 	</insert>
 
 	<!-- 글 목록 -->
 	<select id="list" resultType="com.footsalhaja.domain.free.BoardDto">
 	SELECT
 		f.fb_number,
		f.fb_category,
		f.fb_title,
		f.fb_insertDatetime,
		f.member_userId,
		f.fb_viewCount,
		m.nickName,
    	COUNT(DISTINCT r.fb_replyNumber) fb_replyCount,
    	COUNT(DISTINCT l.member_userId) fb_likeCount
 	FROM
 		freeBoard f LEFT JOIN freeBoardReply r ON f.fb_number = r.freeBoard_fb_number
 					LEFT JOIN freeBoardLike l ON f.fb_number = l.freeBoard_fb_number
 					LEFT JOIN member m ON f.member_userId = m.userId
 	WHERE
 		<if test="category != ''">
 		f.fb_category = #{category} AND 
 		</if>
 		(
 		<trim prefixOverrides="OR">
	 		<if test="type == 'all' or type == 'title'">
	 		OR f.fb_title LIKE #{keyword}
	 		</if>
	 		
	 		<if test="type == 'all' or type == 'content'">
	 		OR f.fb_content LIKE #{keyword}
	 		</if>
	 		
	 		<if test="type == 'all' or type == 'writer'">
	 		OR f.member_userId LIKE #{keyword}
	 		</if>
	 		
 		</trim>
 		)
 	GROUP BY f.fb_number	
 	ORDER BY f.fb_number DESC
 	LIMIT #{offset}, #{records}
 	</select>
 	
 	<!-- 게시글 보기(get) -->
 	<select id="select" resultType="com.footsalhaja.domain.free.BoardDto">
 	SELECT
 		f.fb_number,
 		f.fb_category,
 		f.fb_title,
 		f.fb_content,
 		f.fb_insertDatetime,
 		f.member_userId,
 		f.fb_viewCount,
 		m.nickName,
 		(SELECT COUNT(*) FROM freeBoardLike WHERE freeBoard_fb_number = f.fb_number AND member_userId = #{member_userId}) liked,
 		(SELECT COUNT(*) FROM freeBoardLike WHERE freeBoard_fb_number = f.fb_number) fb_likeCount
 	FROM
 		freeBoard f LEFT JOIN member m ON f.member_userId = m.userId
 	WHERE
 		f.fb_number = #{fb_number}
 	</select>
 	
 	<!-- 글 수정 -->
 	<update id="update">
 	UPDATE freeBoard
 	SET
 		fb_category = #{fb_category},
 		fb_title = #{fb_title},
 		fb_content = #{fb_content}
 	WHERE
 		fb_number = #{fb_number}
 	</update>
 	
 	<!-- 글 삭제 -->
 	<delete id="delete">
 	DELETE FROM freeBoard
 	WHERE fb_number = #{fb_number}
 	</delete>
 	
 	<!-- 게시물 갯수 -->
 	<select id="countAll" resultType="int">
 	SELECT COUNT(*) FROM freeBoard
 	WHERE
 		<trim prefixOverrides="OR">
	 		<if test="type == 'all' or type == 'title'">
	 		fb_title LIKE #{keyword}
	 		</if>
	 		
	 		<if test="type == 'all' or type == 'content'">
	 		OR fb_content LIKE #{keyword}
	 		</if>
	 		
	 		<if test="type == 'all' or type == 'writer'">
	 		OR member_userId LIKE #{keyword}
	 		</if>
 		</trim>
 	</select>
 	
 	<!-- 좋아요 유무 -->
 	<select id="getLikeByBoardNumberAndUserId" resultType="int">
 	SELECT COUNT(*) FROM freeBoardLike
 	WHERE freeBoard_fb_number = #{fb_number} AND member_userId = #{member_userId}
 	</select>
 	
 	<!-- 좋아요 삭제 -->
 	<delete id="deleteLike">
 	DELETE FROM freeBoardLike
 	WHERE freeBoard_fb_number = #{fb_number} AND member_userId = #{member_userId}
 	</delete>
 	
 	<!-- 좋아요 추가 -->
 	<insert id="insertLike">
 	INSERT INTO freeBoardLike (freeBoard_fb_number, member_userId)
 	VALUES (#{fb_number}, #{member_userId})
 	</insert>
 	
 	<!-- 좋아요 총 갯수 -->
 	<select id="countLikeByBoardNumber" resultType="int">
 	SELECT COUNT(*) FROM freeBoardLike
 	WHERE freeBoard_fb_number = #{fb_number}
 	</select>
 	
 	<!-- 게시글 삭제할때 좋아요 삭제 -->
 	<delete id="deleteLikeByBoardId">
 	DELETE FROM freeBoardLike
 	WHERE freeBoard_fb_number = #{fb_number}
 	</delete>
 	
 	<!-- 조회수 -->
 	<update id="updateViewCount">
 	UPDATE freeBoard
	SET fb_viewCount = fb_viewCount + 1
	WHERE fb_number = #{fb_number}
 	</update>
 	
 	<!-- 좋아요 순위 -->
 	<!-- 기준 시간을 자동으로 바뀌게 해야함
 	현재시간으로 정해두기엔 초마다 바뀌니까 시간대별로(1시간간격쯤으로 )-->
 	 <select id="likeRank" resultType="com.footsalhaja.domain.free.BoardDto">
	SELECT
		f.fb_number,
		f.fb_category,
		f.fb_title,
        f.fb_viewCount,
        f.fb_insertDatetime,
    	COUNT(DISTINCT r.fb_replyNumber) fb_replyCount,
    	COUNT(DISTINCT l.member_userId) fb_likeCount,
        DENSE_RANK() OVER (ORDER BY fb_likeCount DESC) as ranking
 	FROM
		(select * from freeBoard f where f.fb_insertDatetime > date_add(now(),interval -1 week))
 		f LEFT JOIN freeBoardReply r ON f.fb_number = r.freeBoard_fb_number
 					LEFT JOIN freeBoardLike l ON f.fb_number = l.freeBoard_fb_number
 	GROUP BY f.fb_number
 	ORDER BY fb_likeCount DESC, fb_viewCount DESC
    LIMIT 5
 	</select>
 	
 </mapper>