<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

 <mapper namespace="com.footsalhaja.mapper.main.MainMapper">

 	<select id="getById" resultMap="getMap">
 	SELECT 
 		m.userId,
 		m.nickName,
 		b.bookId,
 		b.stadiumTitle,
 		b.content, 
 		b.matchType,
 		b.level,
 		b.status,
 		b.bookDatetime,
 		b.insertDatetime,
 		b.teamGender
 	FROM
 		member m LEFT JOIN book b ON m.userId = b.member_userId
 	WHERE 
 		b.bookId = #{bookId}
 	</select>
 	<resultMap type="com.footsalhaja.domain.main.MainDto" id="getMap">
 		<id column="bookId" property="bookId"></id>
 		<result column="userId" property="userId"/>
		<result column="nickName" property="nickName"></result>
		<result column="stadiumTitle" property="stadiumTitle"/>
		<result column="matchType" property="matchType"></result>
		<result column="level" property="level"/>
		<result column="status" property="status"/>
		<result column="bookDatetime" property="bookDatetime"></result>
		<result column="insertDatetime" property="insertDatetime"/>
		<result column="teamGender" property="teamGender"></result>
 	</resultMap>	

 		   
 	

 </mapper>

 