<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

 <mapper namespace="com.footsalhaja.mapper.main.MainMapper">

 	

 
 	<!-- 게시글 등록 -->
 	<insert id="insert">
 	INSERT INTO book
		(stadiumTitle, content, matchType, level, status, bookDate, datetime, teamGender, location_locationId, member_userId)
	VALUES
		(#{stadiumTitle}, #{content}, #{matchType}, #{level}, #{status}, #{bookDate}, #{datetime}, #{teamGender}, #{location_locationId}, 'kim')
 	</insert>
 

	<!-- 게시물 얻어오기  -->
 	<select id="getById" resultMap="getMap">
 	SELECT 
 		m.userId,
 		m.nickName,
 		b.bookId,
 		b.stadiumTitle,
 		b.content, 
 		b.matchType,
 		b.level,
 		b.status,
 		b.bookDate,
 		b.bookTime,
 		b.insertDatetime,
 		b.teamGender
 	FROM
 		member m LEFT JOIN book b ON m.userId = b.member_userId
 	WHERE 
 		b.bookId = #{bookId}
 	</select>
 	
 	<resultMap type="com.footsalhaja.domain.main.MainDto" id="getMap">
 		<id column="bookId" property="bookId"></id>
 		<result column="userId" property="userId"/>
		<result column="nickName" property="nickName"></result>
		<result column="stadiumTitle" property="stadiumTitle"/>
		<result column="matchType" property="matchType"></result>
		<result column="level" property="level"/>
		<result column="status" property="status"/>
		<result column="bookDate" property="bookDate"></result>
		<result column="bookTime" property="bookTime"></result>
		<result column="insertDatetime" property="insertDatetime"/>
		<result column="teamGender" property="teamGender"></result>
 	</resultMap>	


	<!--게시물 수정하기  -->
	<update id="update">
	UPDATE book
	SET
		stadiumTitle = #{stadiumTitle}, 
		content = #{content},
		matchType = #{matchType},
		level = #{level},
		status = #{status},

		bookDate = #{bookDate},
		bookTime = #{bookTime}, 

		teamGender = #{teamGender}
	WHERE bookId = #{bookId}

	</update>


	<!--게시물 지우기  -->
	<delete id="delete">
	DELETE FROM book
	WHERE bookId = #{bookId}
	</delete>
	
	
	
	
	
	
 </mapper>

 